<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570242483391-cs3krtm1r1vqufqekvf4t2j4n04omovb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570242483391-cs3krtm1r1vqufqekvf4t2j4n04omovb</string>
	<key>API_KEY</key>
	<string>AIzaSyAmqZ-trMe9vo5b1ObnJDwy_STeeX_pTI8</string>
	<key>GCM_SENDER_ID</key>
	<string>570242483391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IJLSA.HabitBuilder</string>
	<key>PROJECT_ID</key>
	<string>habitbuilder-d84f5</string>
	<key>STORAGE_BUCKET</key>
	<string>habitbuilder-d84f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570242483391:ios:77d33967445459b257b20a</string>
	<key>DATABASE_URL</key>
	<string>https://habitbuilder-d84f5.firebaseio.com</string>
</dict>
</plist>